$small-padding: 4px;
$normal-padding: 8px;
$big-padding: 12px;
$huge-padding: 20px;
$table-font-color: #828282;
$main-table-border-color-darker: #d4d4d4;
$table-border-checked-color: #ff801a;
$main-table-border-color: #e9e9e9;
$button-border: #c0c0c0;