@import "../../../../../shared/style/variables.scss";
.workout-cell {
  font-size: 11px;
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__arrow-right {
      margin-left: 4px;
      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-left: 3px solid $table-font-color;
    }
  }
}