@import "../../../../../shared/style/variables.scss";
.week-picker-button {
  background-color: transparent;
  border: 1px solid $button-border;
  min-width: 30px;
  height: 55px;
  border-radius: 8px;
  cursor: pointer;
  &__img {
    transition-duration: 400ms;
  }
  &:hover {
    box-shadow: inset 0 0 4px $button-border;
    img {
      transform: scale(1.3);
    }
  }
}